* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

#__next {
  @apply h-full;
  @apply transition-colors;
}

@layer base {
  body {
    @apply transition-colors bg-slate-200 text-gray-900 dark:bg-neutral-900 dark:text-neutral-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }
}

/* Latest page */
.title-hover:hover .title-hover--title,
.title-hover:hover .title-hover--readme_icon {
  @apply text-indigo-500 transition-colors;
}

.title-hover .title-hover--readme_icon {
  @apply transition-transform transform translate-x-0;
}
.title-hover:hover .title-hover--readme_icon {
  @apply transition-transform transform translate-x-1;
}

.prose
  :where(blockquote p:first-of-type):not(:where([class~='not-prose']
      *))::before {
  content: none;
}

blockquote {
  @apply text-sm not-italic text-gray-900 dark:text-zinc-300 !important;
}

blockquote a {
  @apply text-gray-900 dark:text-zinc-300;
}

/* blockquote .emoji {
  @apply text-xl;
} */

.emoji {
  @apply text-2xl;
}

/* Toast message */
.Toastify__toast {
  @apply bg-zinc-300 dark:bg-neutral-700;
}

/* JSON Viewer */
.react-json-view {
  @apply p-5;
}

/* Rocket dev SVG */
.radial-transparent {
  background: radial-gradient(
    transparent 0%,
    transparent 30%,
    rgba(23, 23, 23, var(--tw-bg-opacity)) 70%
  );
}

.light .radial-transparent {
  background: radial-gradient(
    transparent 0%,
    transparent 30%,
    rgba(226, 232, 240, var(--tw-bg-opacity)) 70%
  );
}

/* Pre code snippet */
pre {
  @apply p-0 bg-[#1e1e1e] !important;
}

pre .codeStyle {
  @apply pt-3 !important;
}
pre span[data='highlight'] {
  background-color: rgba(230, 233, 238, 0.1);

  @apply block;
}

pre .linenumber {
  @apply relative text-gray-400 !important;
}

pre .linenumber:before {
  content: '';
  @apply ml-7 !important;
}

pre span[data='highlight'] .linenumber:after {
  content: '';
  @apply border-l-8 border-red-400 absolute left-0 top-0 h-full;
}
